@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #2ecc71;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .menu {
    list-style: none;
}

.sidebar .menu li {
    margin-bottom: 15px;
}

.sidebar .menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar .menu li a:hover {
    color: #27ae60;
}

.sidebar .help {
    margin-top: auto;
    background-color: white;
    color: #2ecc71;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
}

.sidebar .help:hover {
    background-color: #27ae60;
    color: white;
    cursor: pointer;
}

/* Cabeçalho */
.header {
    background-color: #2ecc71;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    width: 100%;
}

.header .search {
    display: flex;
    align-items: center;
}

.header .search input {
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.header .profile {
    display: flex;
    align-items: center;
}

.header .profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Área de navegação */
.content {
    flex: 1;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content .placeholder {
    color: gray;
    font-size: 20px;
}