@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
}

/* Esquerda */
.loginEsquerda {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0.556;
    padding: 32px;
    background-image: url('../img/moca_cartao.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loginEsquerda:hover .overlay {
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9888;
    background-color: rgba(27, 198, 129, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo_branco {
    width: 200px;
    height: 43.13px;
    z-index: 1;
}

/* Direita */
.loginDireita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.444;
    gap: 1.5rem;
    padding: 20px;
    background: #FAFAFA;
}

/* Título e subtítulo */
.frame-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 360px;
    gap: 8px;
}

.welcome-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #484848;
    text-align: center;
}

.welcome-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #484848;
    text-align: left;
}

/* Formulário */
.frame-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 90%;
    max-width: 360px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #484848;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #484848;
    padding: 10px;
    width: 100%;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #1BC681;
}

.frame-4 {
    display: flex;
    width: 100%;
    justify-content: r;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #1E1E1E;
}

.frame-2 {
    display: flex;
    gap: 4px;
}


.remember-device {
    font-weight: 400;
    white-space: nowrap;
}

/* Botão */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 100%;
    background: #1BC681;
    border: none;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background: #17A86F;
}

.button:active {
    transform: scale(0.98);
}


/* Frame 6 */
.frame-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 100%
}

.frame-6 .no-account {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 29px;
    color: #1E1E1E;
}

.frame-6 .sign-up {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 29px;
    color: #1BC681;
    text-decoration: none;
}


/* Responsividade */
@media (max-width: 1023px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .loginEsquerda {
        display: none;
    }

    .loginDireita {
        max-width: 450px;
        width: 90%;
        gap: 1.5rem;
        padding: 3rem;
        border: 2px solid #ccc;
        border-radius: 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 767px) {
    .loginDireita {
        width: 80%;
        gap: 1rem;
        padding: 1.3rem;
    }

    .frame-5 {
        gap: 0px;
    }

    .welcome-title {
        font-size: 28px;
        line-height: 30px;
    }

    .welcome-subtitle {
        font-size: 16px;
    }

    .label {
        font-size: 14px;
    }

    input {
        font-size: 14px;
        padding: 6px;
    }

    .button {
        font-size: 16px;
    }

    /* Frame 6 */
    .frame-6 {
        padding: 0;
        gap: 4px;
        /* Reduz espaço entre itens */
        width: 100%;
        height: auto;
        /* Remove altura fixa */
        justify-content: center;
        flex-wrap: wrap;
        /* Garante que os elementos se ajustem */
    }

    .frame-6 .no-account {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.2;
    }

    .frame-6 .sign-up {
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1.2;
    }
}


.divPassword {
    display: none;
}